@import "~antd/es/style/themes/default.less";
@import "../../utils/utils.less";

.card{
  border: 1px solid #434e59;
  border-radius: 3px;
  width: 600px;
  height: auto;
}
.btns{
  text-align: center;
  margin: 30px auto;
}
.imgBox{
  position: relative;
}

.imgText{
  position:absolute;
  top: 30px;
  left:135px;
}
.ruleRequired{
  :global {
    .ant-form-item-label>label::before{
      display: inline-block;
      position: absolute;
      right:71px;
      top: 2px;
      content: "*";
      font-family: SimSun;
      line-height: 1;
      font-size: 14px;
      color: #f5222d;
    }
  }
}
