@import "~antd/lib/style/themes/default.less";

.title {
  color: @heading-color;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 32px;
  .btn {
    margin-left: 10px;
    float: right;
  }
}

.picWrapper {
  width: 300px;
  margin-bottom: 30px;
}

.picTable {
  width: 40px;
}

.schemeInfo {
  width: 1000px;
  border: 1px solid #ddd;
  padding: 15px;
  .descAir {
    width: 463px;
    border: 1px dashed #ddd;
    padding: 10px;
    text-align: center;
    display: inline-block;
    .item {
      margin-bottom: 10px;
    }
  }
}
