@border: 1px solid #d9d9d9;
.page {
  .groupCard {
    &_body {
      &_lineA {

        & > p:first-child {
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          margin-bottom: 2px;
        }
      }
      &_lineB {
        color: #666;
        &_city {
          font-size: 16px;
          font-weight: bold;
        }
      }
      &_lineC {
        color: #666;
        & > p {
          margin-bottom: 5px;
        }
        & > p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  :global {
    .ant-card-actions {
      li:first-child span:hover {
        cursor: inherit;
        color: inherit;
      }
    }
  }
}

.formContainer { //form的容器
  :global {
    .ant-row.ant-form-item {
      display: flex;
      .ant-form-item-control-wrapper {
        flex: 1;
      }
    }
  }
}
