@border: 1px solid #d9d9d9;
.textEllipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page {
  .groupCard {
    &_body {
      &_lineA {
        & > p {
          .textEllipsis;
          &:first-child {
            margin-bottom: 2px;
          }
        }
      }
      &_lineB {
        color: #666;
        &_time {
          .textEllipsis;
          float: right;
          width: 50%;
        }
        &_city {
          .textEllipsis;
          font-size: 16px;
          font-weight: bold;
          display: inline-block;
          width: 50%;
        }
      }
      &_lineC {
        height: 73px;
        overflow: hidden;
        color: #666;
        & > p {
          .textEllipsis;
          margin-bottom: 5px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  :global {
    .ant-card-actions {
      li:first-child span:hover {
        cursor: inherit;
        color: inherit;
      }
    }
  }
  .listParCon {
    :global {
      .ant-list-item {
        display: block;
      }
      .ant-card-actions {
        & > li:first-child {
          .textEllipsis;
        }
      }
      .ant-list-something-after-last-item .ant-list-item:last-child {
        border-bottom: 0;
      }
    }
  }
}

.formContainer {
  //form的容器
  :global {
    .ant-row.ant-form-item {
      display: flex;
      .ant-form-item-control-wrapper {
        flex: 1;
      }
    }
  }
}
