
@border:1px solid #e8e8e8;

.groupCard{
  background: #fff;
  border: @border;
  font-size: 14px;
  color: #333;
  &_header{
    padding: 0 32px;
    border-bottom: @border;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
    line-height: 48px;
  }

  &_body{
    padding: 24px 32px;
    &_lineA{
      color: #aaa;
    }
    &_lineB{
      font-size: 18px;
      font-weight: 400;
    }
    &_lineC{
    }
  }
  &_footer{
    padding: 0 32px;
    border-top: @border;
    border-bottom: @border;
    border-radius: 2px 2px 0 0;
    zoom: 1;
    margin-bottom: -1px;
    min-height: 48px;
    line-height: 48px;
  }
}

