@import "~antd/lib/style/themes/default.less";

.title {
  color: @heading-color;
  font-size: 18px;
  height:25px;
  font-weight: 500;
  margin-bottom:30px;
  border-bottom:1px dashed #ccc;
  position: relative;
  &>span{
    background: #fff;
    display: block;
    position: absolute;
    top: 10px;
    padding-right: 5PX;
  }
}
.picWrapper{
  width:300px;
  margin-bottom: 30px;
}
.picTable{
  width: 40px;
}
.ticket{
  &>div{
    width:50%;
    display:inline-block;
    &>span{
      padding-right:15px;
    }
    &>input{
      width:80%;
      display: inline-block;
    }
  }
}

.ticketBtn{
 width: 100%;
 margin: 0 auto;
 text-align: center;
}
