@import "~antd/es/style/themes/default.less";
@import "../../../utils/utils.less";

.lastCol {
  text-align: center !important;
}

.tableList {
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.AgenciesView_box_list {
  font-size: 14px;
  width: 100%;
  display: inline-block;
  background-color: #fff;
  margin-top: -16px;
  padding: 10px;
  li {
    width: 50%;
    display: inline-block;
    margin-bottom: 10px;
  }

  p {
    float: left;
    margin-left: 40px;
    margin-top: -40px;
    word-spacing: 50px;
  }
  .AgenciesView_box_list_decorate {
    width: 10px;
    height: 10px;
    border: 2px solid #F15311;
    border-radius: 23px;
  }

  .AgenciesView_box_list_decorateb {
    width: 1px;
    height: 30px;
    background-color: #BFBFBF;
    margin-left: 5px;
  }
}
.selectbBox {
  width: 100%;

  :global {
    .ant-radio {
      float: left;
      margin-top: 5px;
      position: relative;
      margin-left: 10px;
      top:80px;
    }
  }

  .selectbContent {
    width: 100%;
    margin-top: -66px;
  }
}
.tableListForm {
  :global {
    .ant-form-item {
      margin-bottom: 24px;
      margin-right: 0;
      display: flex;
      > .ant-form-item-label {
        width: auto;
        line-height: 32px;
        padding-right: 8px;
        label {
          width: 80px;
          display: inline-block;
        }
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  .submitButtons {
    white-space: nowrap;
    margin-bottom: 24px;
  }
}

.formsw {
  padding: 30px 30px 20px 30px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.btnBox {
  button {
    margin-right: 15px;
  }
}

.deleting {
  margin-left: 20px;
  top: -37px;
  cursor: pointer;
  position: relative;
  font-size: 24px;
  color: rgb(206, 204, 204);
  transition: all .3s;
  font-weight: 300;
}

.updates {
  float: right;
}
